{%extends "admin_layout.html"%}
{%block content%}
                  <div class ="margin"><b>
                    SERVICES
                  </b></div>
                  <div class ="dashboard"> 
                    <div class="container text-center">
                      <b><div class="row">
                        <div class="col">
                          ID
                        </div>
                        <div class="col">
                          SERVICE NAME
                        </div>
                        <div class="col">
                          BASE PRICE
                        </div>
                        <div class="col">
                          ACTION
                        </div>
                      </div></b>
                    </div>
                    <div class="container text-center">
                      <div class="margin1">
                        {%if services%}
                          {%for service in services%}
                          <div class="row">
                              <div class="col">
                                {{service.id}}
                              </div>
                              <div class="col">
                                {{service.name}}
                              </div>
                              <div class="col">
                                {{service.base_price}}
                              </div>
                              <div class="col">
                                <a href="#" class="btn btn-outline-warning">EDIT</a> <a href="#" class="btn btn-outline-danger">DELETE</a>
                              </div>
                          </div>
                          {%endfor%}
                        {%else%}
                          <h3 class="center">NO SERVICES AVAILABLE</h3>
                        {%endif%}

                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class ="right"><a href="/service/{{name}}" type ="button" class="btn btn-primary">ADD SERVICE</a></div>
                    
                  </div>
                  <div class = "margin"><b>
                    PROFESSIONALS
                  </b></div>
                  <div class ="dashboard">
                    <div class="container text-center">
                      <b><div class="row">
                        <div class="col">
                         ID
                        </div>
                        <div class="col">
                          NAME
                        </div>
                        <div class="col">
                          EXPERIENCE
                        </div>
                        <div class="col">
                          SERVICE NAME
                        </div>
                        <div class="col">
                          ACTION
                        </div>
                      </div></b>
                    </div>
                    <div class="container text-center">
                      <div class="margin1">
                        {%if professionals%}
                          {%for professional in professionals%}
                          <div class="row">
                              <div class="col">
                                {{professional.id}}
                              </div>
                              <div class="col">
                                {{professional.full_name}}
                              </div>
                              <div class="col">
                                {{professional.experience}}
                              </div>
                              <div class="col">
                                {{(professional.service_id)}}
                              </div>
                              <div class="col">
                                <a href="#" class="btn btn-outline-success">APPROVE</a></a><a href="#" class="btn btn-outline-danger">REJECT</a>
                              </div>
                          </div>
                          {%endfor%}
                        {%else%}
                          <h3 class="center">NO PROFESSIONAL AVAILABLE</h3>
                        {%endif%}

                      </div>
                    </div>
                  </div>
                  <div class ="margin"><b>
                    
                    SERVICE REQUESTS
                  </b></div>
                  <div class ="dashboard"> 
                    <div class="container text-center">
                      <b><div class="row">
                        <div class="col">
                          ID
                        </div>
                        <div class="col">
                          ASSIGNED PROFESSIONAL
                        </div>
                        <div class="col">
                          REQUESTED DATE
                        </div>
                        <div class="col">
                          STATUS
                        </div>
                      </div></b>
                    </div>
                  </div>

                
{%endblock%}