{%extends "admin_layout.html"%}
{%block content%}

    <div class="container text-center">
      <div class="row">

          <div class="col">
            <div class="card" style="width: 30rem;">
   
                <div class="card-body">
                    <h5 class="card-title">SERVICE SUMMARY</h5>
                    <h6 class="card-subtitle">SERVICEvsPRICE</h6>
                    <img src ="{{url_for('static', filename = 'styles/images/'+image_filename)}}" width ="400" height = "300">
                </div> 
            </div>
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">SERVICE REQUEST SUMMARY</h5> 
                  <img src ="{{url_for('static', filename = 'styles/images/'+image_filename1)}}" width ="400" height = "300">
                </div> 
            </div>
            
                
                
          
          </div>

      </div>
    </div>

                  
{%endblock%}