{%extends "customer_layout.html"%}
{%block content%}
              
                  <div class="mb-3">
                    <div class ="right"><a href ='/customer_profile/{{id}}'>PROFILE</a></div>
                    
                  </div>
                  <div class="container text-center">
                    {%if services%}
                      <div class="row">
                        {%for service in services%}
                          <div class="col">
                            <div class="card" style="width: 18rem;">
                         
                              <div class="card-body">
                                <h5 class="card-title">{{service.name}}</h5>
                                <p class="card-text">{{service.description}}</p>
                                <form action="/service_request/{{id}}" method ="POST">
                                  <input type ="hidden" name ="id" id ="id" value = {{id}}>
                                  <input type ="hidden" name ="s_id" id ="s_id" value = {{service.id}}>
                                  <button type = "submit" class="btn btn-outline-success">BOOK NOW</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        {%endfor%}
                      </div>
                    {%else%}
                    <h3 class="center">NO SERVICES AVAILABLE</h3>
                    {%endif%}
                  </div>
                  
                  
                {%if service_requests%}  
                  <div class ="margin">
                    SERVICE HISTORY
                  </div>
                  <div class ="dashboard">
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                         ID
                        </div>
                        <div class="col">
                          SERVICE NAME
                        </div>
                        <div class="col">
                          PROFESSIONAL NAME
                        </div>
                        
                        <div class="col">
                          PHONE NO.
                        </div>
                        <div class="col">
                          STATUS
                        </div>
                      </div>
                    </div>
                    <div class="container text-center">
                      <div class="margin1">
                        {%for service_request in service_requests%}
                          {%for s in services1%}
                            {%if s.id == service_request.service_id%}
                              <div class="row">
                                <div class="col">
                                  {{service_request.id}}
                                </div>
                                <div class="col">
                                  {{s.name}}
                                </div>
                                <div class="col">
                                  
                                </div>
                                <div class="col">
                                  {{service_request.status}}
                                </div>
                                <div class="col">
                                  <a href="#" class="btn btn-outline-success">CLOSE IT</a>
                                </div>
                              </div>
                            {%endif%}
                          {%endfor%}
                        {%endfor%}
                          
                      </div>
                    </div>
                  
                  </div>
                {%endif%}

                
{%endblock%}