{%extends "customer_layout.html"%}
{%block content%}

    <div class="container text-center">
      <div class="row">

          <div class="col">
            
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">SERVICE REQUEST SUMMARY</h5> 
                  <img src ="./static/styles/images/{{id}}customer_summary.jpeg" width ="400" height = "300">
                </div> 
            </div>
            
                
                
          
          </div>

      </div>
    </div>

                  
{%endblock%}