<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="/static/styles/main.css">
        <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>LOGIN</title>
    </head>
    <body>
        <div class = "my_container">
            <div class ="center"><h1>A-Z HOUSEHOLD SERVICES</h1></div>
            <div class ="my_panel">
                <div class = "input_form1">
                    <div class="mb-3">
                        <label for="Registered Email" class="form-label">USER ID(E-Mail)</label>
                        <input type="email" class="form-control" id="user_name" placeholder="@gmail.com">
                      </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">PASSWORD</label>
                        <input type="Password" class="form-control" id="Password" placeholder="Password">
                      </div>
                    <div class="mb-3">
                        <div class ="center"><button type="button" class="btn btn-primary">LOGIN</button></div>
                        
                    </div>
                    <div class="mb-3">
                        <div class = "center">
                        <a href ='/templates/signup_customer.html'>NEW CUSTOMER?</a>

                        <a href ='/templates/signup_professional.html'>NEW PROFESSIONAL?</a>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
        
    </body>
</html>