<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="/static/styles/main.css">
        <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>LOGIN</title>
    </head>
    <body>
        <div class = "my_container">
            <div class ="center"><h1>A-Z HOUSEHOLD SERVICES</h1></div>
            <div class ="my_panel">
                <form action="/login" method="POST">
                    <div class = "input_form1">
                        <div class="mb-3">
                            <label for="user_name" class="form-label">USER ID(E-Mail)</label>
                            <input type="email" class="form-control" name="user_name" id="user_name" placeholder="@gmail.com">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">PASSWORD</label>
                            <input type="password" class="form-control" name="password" id="Password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <div class ="center"><button type="submit" class="btn btn-primary">LOGIN</button></div>
                        
                        </div>
                        <div class="mb-3">
                            <div class = "center">
                            <a href ='/signup_customer'>NEW CUSTOMER?</a>

                            <a href ='/signup_professional'>NEW PROFESSIONAL?</a>

                            <div class = "error">{{msg}}</div>

                            </div>

                        </div>
                      
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>