{%extends "professional_layout.html"%}
{%block content%}
              
                  <div class ="margin">
                    TODAY SERVICES
                  </div>
                  <div class ="dashboard"> 
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                          ID
                        </div>
                        <div class="col">
                          CUSTOMER NAME
                        </div>
                        <div class="col">
                          CONTACT NUMBER
                        </div>
                        <div class="col">
                          PIN CODE
                        </div>
                        <div class="col">
                            ACTION
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class = "margin">
                    CLOSED SERVICES
                  </div>
                  <div class ="dashboard">
                    <div class="container text-center">
                      <div class="row">
                        <div class="col">
                         ID
                        </div>
                        <div class="col">
                          CUSTOMER NAME
                        </div>
                        <div class="col">
                          CONTACT NUMBER
                        </div>
                        <div class="col">
                          PIN CODE
                        </div>
                        <div class="col">
                          DATE
                        </div>
                        <div class="col">
                            RATING
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>

                
{%endblock%}