<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href="/static/styles/main.css">
        <link href ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>PROFESSTIONAL SIGNUP PAGE</title>
    </head>
    <body>
        <div class = "my_container">
            <div class ="center"><h1>A-Z HOUSEHOLD SERVICES</h1></div>
            <div class ="my_panel">
                <div class ="center"><h3>REGISTER NOW!</h3></div>
                <form action =/signup_professional method ="POST">
                <div class = "input_form2">
                      <div class="mb-3">
                        <label for="user_name" class="form-label">USER ID(E-Mail)</label>
                        <input type="email" class="form-control" name ="user_name" id="user_name" placeholder="@gmail.com">
                      </div>
                      <div class="mb-3">
                        <label for="Password" class="form-label">PASSWORD</label>
                        <input type="password" class="form-control" name = "password" id="Password" placeholder="Password">
                      </div>
                      <div class="mb-3">
                        <label for="full_name" class="form-label">NAME</label>
                        <input type="text" class="form-control" name="full_name" id="full_name" placeholder="NAME">
                      </div>
                      <div class="mb-3">
                        <label for="service_name">CHOOSE A SERVICE</label>
                        <select name="service_name" id ="service_name">
                          {%for service in services%}
                            <option value={{service.name}}>{{service.name}}</option>
                          {%endfor%}
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="experience" class="form-label">EXPERIENCE(years)</label>
                        <input type="number" class="form-control" name="experience" id="experience" placeholder="EXPERIENCE">
                      </div>
                      <div class="mb-3">
                        <label for="address" class="form-label">ADDRESS</label>
                        <input type="text" class="form-control" name="address" id="address" placeholder="Hno, City, State">
                      </div>
                      <div class="mb-3">
                        <label for="pincode" class="form-label">PIN CODE</label>
                        <input type="number" class="form-control" name="pincode" id="pincode" placeholder="pin code">
                      </div>
                      <div class="mb-3">
                        <div class ="center"><button type="submit" class="btn btn-primary">REGISTER</button></div>
                        
                    </div>
                    <div class="mb-3">
                        <div class = "center">
                        <a href ='/login'>EXISTING PROFESSTIONAL?</a>

                        <!--<a href ='#'>NEW PROFESSIONAL?</a>
                        </div>-->
                    </div>
                      
                </div>
                </form>
            </div>
        </div>
        
    </body>
</html>